[submodule "Test/CMock"]
	path = Test/CMock
	url = https://github.com/ThrowTheSwitch/CMock.git
[submodule "Test/Unity"]
	path = Test/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Test/cmock"]
	path = Test/cmock
	url = https://github.com/throwtheswitch/cmock.git
[submodule "ws/components/ds18b20"]
	path = ws/components/ds18b20
	url = https://github.com/feelfreelinux/ds18b20.git
