<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: #ffffff;
      }
    </style>
    <title>This is the Water station configuration portal ;)</title>
  </head>
  <body>
    <form action="/wifi_registration" method="POST">
      <p>Please enter the info of the WIFI</p>
      <input type="text" name="Name (SSID)" placeholder="WIFI name" id="wifissid" required>
      <input type="text" name="Password" placeholder="Wifi Passwd" id="passwd" required>
      <button type="submit">Submit</button>  
    </form>
  </body>
</html>
